# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: PyTest

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - beta
  pull_request:
    branches:
      - main
      - beta

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pylint
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f requirements.test.txt ]; then pip install -r requirements.test.txt; fi
    - name: Lint with pylint - Errors only
      run: |
        pylint --recursive=yes  --reports=yes --disable=W,C,R .   
    - name: Test with pytest
      run: |
        pytest
